<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" type="image/x-icon" href="@/static/favicon.ico">
    <link rel="stylesheet" href="@/static/page.css" type="text/css">
  </head>
  <body>
    <nav>
      <a href="@/">Home</a>
      &middot;
      <span class="dropdown">
	<a href="#">Lessons</a>
	<span id="nav-lessons" class="dropdown-content">
          <a href="@/intro/">Introduction</a>
          <a href="@/important/">The Important Stuff</a>
          <a href="@/starting/">Starting</a>
          <a href="@/teams/">Teams</a>
          <a href="@/rules-persuade/">How to Talk People Into Things</a>
          <a href="@/conflict/">Managing Conflict</a>
          <a href="@/git-solo/">Using Git On Your Own</a>
          <a href="@/git-team/">Using Git Together</a>
          <a href="@/ip/">Intellectual Property</a>
          <a href="@/communicate/">Communicating</a>
          <a href="@/testing/">Testing</a>
          <a href="@/design/">Software Design</a>
          <a href="@/security/">Security</a>
          <a href="@/errors/">Error Handling</a>
          <a href="@/debugging/">Debugging</a>
          <a href="@/automation/">Automation</a>
          <a href="@/tooling/">Tooling</a>
          <a href="@/rules-comfortable/">How to Make Yourself Comfortable</a>
          <a href="@/process/">Process</a>
          <a href="@/rules-joining/">How to Join an Existing Project</a>
          <a href="@/rules-newcomers/">How to Welcome Newcomers</a>
          <a href="@/research/">Research</a>
          <a href="@/rules-research/">How to be a Good Research Partner</a>
          <a href="@/fairness/">Fair Play</a>
          <a href="@/rules-fired/">How to Handle Being Fired</a>
          <a href="@/delivery/">Wrapping Up</a>
          <a href="@/rules-handover/">How to Hand Over and Move On</a>
          <a href="@/finale/">Conclusion</a>
	</span>
      </span>
      &middot;
      <span class="dropdown">
        <a href="#">Extras</a>
        <span id="nav-extras" class="dropdown-content">
	  <a href="@/license/">License</a>
	  <a href="@/conduct/">Code of Conduct</a>
	  <a href="@/contrib/">Contributing</a>
	  <a href="@/bibliography/">Bibliography</a>
	  <a href="@/glossary/">Glossary</a>
          <a href="@/thinking/">Thinking</a>
          <a href="@/methods/">Research Methods</a>
          <a href="@/onboarding/">Onboarding</a>
          <a href="@/project-eval/">Project Evaluation</a>
          <a href="@/personal-eval/">Personal Evaluation</a>
          <a href="@/reading/">Further Reading</a>
          <a href="@/rules-freelance/">How to Get Started Freelancing</a>
          <a href="@/rules-change/">How to Change the World</a>
          <a href="@/authors/">Authors</a>
        </span>
      </span>
    </nav>
    <main>
{{content}}
    </main>
    <footer>
      <a href="@/">Organizational Change for Open Science</a>
      copyright &copy; 2025
      <a href="@/#acknowledgments">the authors</a>
    </footer>
  </body>
</html>
